<form action="/brands" method="post">
    <label for="store_name">Add a Brand</label>
    <input type="text" class="form-control" name="brand_name">
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
