<form action="/brands" method="post">
    <label for="brand_name">Add a Brand</label>
    <input type="text" class="form-control" name="brand_name">
    <label for="brand_price">Add a Price</label>
    <input type="text" class="form-control" name="brand_price">
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

<a href="/">Home</a>
