<form action="/stores" method="post">

    <label for="store_name">Add Store</label>
    <input type="text" class="form-control" name="store_name">

    <label for="tags">Add brands</label>
    <input type="text" class="form-control" name="brand_names">

    <label for="tags">Add brand price</label>
    <input type="text" class="form-control" name="price">

  <button type="submit" class="btn btn-primary btn-lg">Submit!</button>
</form>
