<form action="/stores" method="post">
    <label for="store_name">Add Store</label>
    <input type="text" class="form-control" name="store_name">
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
